<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=v00egd00002l.lec-admin.dmu.ac.uk;User ID=p2730681;Password=TicketWaveProject2024"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="EventManagementDataEntry.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>