<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString"
             connectionString="Data Source=v00egd00002l.lec-admin.dmu.ac.uk;Initial Catalog=p2730681;User ID=p2730681;Password=TicketWaveProject2024"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
