<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Testing4.Properties.Settings.ConnectionString" connectionString="Data Source=v00egd00002l.lec-admin.dmu.ac.uk;User ID=p2730681;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>